[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/turbidsoul/pelican-themes.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/turbidsoul/pelican-plugins.git
